<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.work.mapper.FileDao">
  <insert id="insert" parameterType="com.work.bean.File">
   insert into tb_file(id,name,path,create_time,download_times,file_type,descn) values(#{id},#{name},#{path},#{create_time},#{download_times},#{file_type},#{descn});
  </insert>
  <delete id="delete" parameterType="com.work.bean.File">
   update tb_file set delete_state=1
   <where>
    id=#{id}
         <if test="name!=null">and name=#{ name }</if>
         <if test="path!=null">and path=#{ path }</if>
         <if test="create_time!=null">and create_time=#{ create_time }</if>
         <if test="download_times!=null">and download_times=#{ download_times }</if>
         <if test="file_type!=null">and file_type=#{ file_type }</if>
       </where>
  </delete>
  <update id="update" parameterType="com.work.bean.File">
   update tb_file
   <set>
         <if test="name!=null">name=#{ name },</if>
         <if test="path!=null">path=#{ path },</if>
         <if test="create_time!=null">create_time=#{ create_time },</if>
         <if test="download_times!=null">download_times=#{ download_times },</if>
         <if test="file_type!=null">file_type=#{ file_type },</if>
         <if test="descn!=null">descn=#{ descn },</if>
       </set>
   <where>
    id=#{id}
       </where>
  </update>
  <select id="list" resultType="com.work.bean.File" parameterType="com.work.bean.File">
   select id,name,path,create_time,download_times,file_type,descn from tb_file
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
         <if test="path!=null">and path=#{ path }</if>
         <if test="create_time!=null">and create_time=#{ create_time }</if>
         <if test="download_times!=null">and download_times=#{ download_times }</if>
         <if test="file_type!=null">and file_type=#{ file_type }</if>
       </where>
       order by id desc
  </select>
  <select id="listByPage" resultType="com.work.bean.File" parameterType="com.work.bean.File">
   select id,name,path,create_time,download_times,file_type,descn from tb_file
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
         <if test="path!=null">and path=#{ path }</if>
         <if test="create_time!=null">and create_time=#{ create_time }</if>
         <if test="download_times!=null">and download_times=#{ download_times }</if>
         <if test="file_type!=null">and file_type=#{ file_type }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="com.work.bean.File" parameterType="com.work.bean.File">
   select id,name,path,create_time,download_times,file_type,descn from tb_file
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
         <if test="path!=null">and path=#{ path }</if>
         <if test="create_time!=null">and create_time=#{ create_time }</if>
         <if test="download_times!=null">and download_times=#{ download_times }</if>
         <if test="file_type!=null">and file_type=#{ file_type }</if>
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="com.work.bean.File">
   select count(1) from tb_file
   <where>
         <if test="id!=null">and id = #{ id }</if>
         <if test="name!=null">and name = #{ name }</if>
         <if test="path!=null">and path = #{ path }</if>
         <if test="create_time!=null">and create_time = #{ create_time }</if>
         <if test="download_times!=null">and download_times = #{ download_times }</if>
         <if test="file_type!=null">and file_type = #{ file_type }</if>
       </where>
  </select>
  <select id="latestFile" resultType="com.work.bean.File">
  	select * from tb_file where id = (select max(id) from tb_file)
  </select>
 </mapper>
 